table.calendar {
    border-spacing: 3px;
    width: 100%;
}
table.calendar > tbody tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 0.5em;
}
table.calendar > tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 0.5em;
}
table.calendar > thead {
    font-size: 0.8em;
}

table.calendar .control {
    overflow: auto;
}
table.calendar .control th > fieldset {
    border: none;
    float: left;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}
table.calendar .control th > fieldset:last-of-type {
    float: right;
}
table.calendar .control th button,
table.calendar .control th select {
    display: inline;
    width: auto;
}
table.calendar .control button.month,
table.calendar .control button.year,
table.calendar .control select.month,
table.calendar .control select.year {
    border: 1px solid #a9a9a9;
    font-size: 0.7em;
    height: 2em;
    padding: 0 1em;
    text-align: center;

    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
table.calendar .control button.next {
    border-radius: 0 0.3em 0.3em 0;
}
table.calendar .control button.previous {
    border-radius: 0.3em 0 0 0.3em;
}

table.calendar .days th,
table.calendar tbody td {
    width: 14%;
}
table.calendar td {
    border: 1px solid #000;
    cursor: default;
    font-size: 0.5em;
    font-weight: bold;
    position: relative;
    text-align: right;
    vertical-align: top;
}
table.calendar td:after {
    content: '';
    display: block;
    margin-top: 75%;
}
table.calendar td.before,
table.calendar td.after {
    background-color: rgb(200, 255, 200);
}
table.calendar td.today {
    background: repeating-linear-gradient(
        -55deg,
        #cfc,
        #cfc 0.5em,
        #efefef 0.5em,
        #efefef 1em
    )
}
table.calendar td.selected {
    box-shadow: inset 0 0 1.5em gold;
}

@media (min-width: 480px) {
    table.calendar .control button.month,
    table.calendar .control button.year,
    table.calendar .control select.month,
    table.calendar .control select.year {
        font-size: 1em;
    }
}
