input.calendar,
input[calendar] {
    width: 98%;
}

/**
 * the display of the calendar container
 * needs to be governed by js because there
 * is not parent selector in CSS, but even
 * if the 'hide' class is present, show the
 * calendar when the input has focus
 */
.calendar-container:before {
    border-left: 0.75em solid transparent;
    border-right: 0.75em solid transparent;
    border-bottom: 0.75em solid #000;
    border-top: 0.75em solid transparent;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -0.75em;
    position: relative;
    top: -2em;
    width: 0;
}
.calendar-container {
    background-color: #fff;
    border: 0.1em solid #000;
    border-radius: 0.5em;
    margin: auto;
    margin-top: 0.75em;
}
.calendar-container.hide {
    display: none;
}
.calendar-container.hide:before {
    display: none;
}

/*
 * hide the text input on phablet or larger
 */
@media (min-width: 480px) {
    calendar > input.ng-calendar-interface {
        position:absolute;
        left: -10000px;
    }

    .calendar-container:before {
        display: none;
    }

    .calendar-container {
        display: block !important;
        margin-top: auto !important;
    }
}
